@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Comfortaa";
  src: url("../font/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-Regular.ttf");
}
* {margin: 0;
  padding: 0;
}
body {
  -moz-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.content {
  width: 100%;
}
// section 1 --------------------------
.section-height {
  height: 100%;
}
.section1 {
  background: url(../img/s1-bg.jpg) 0% 0% no-repeat;
  background-size: cover;
}
.section1__line {
  height: 100%;
  background: url(../img/s1-line.png) 0 216px repeat-x;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 70px;
	padding-top: 18px;
}
.logo {
	width: 120px;
}
.tel-bt {
	width: 370px;
	display: flex;
	justify-content: space-between;
}
.tel {
	font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1;
}
.tel p:first-child {
	padding-bottom: 15px;
}
// .bt {
// 	background-color: #fff;
// 	background-image: url(../img/bt-img.png);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }
.bt {
  background: linear-gradient(to right top, #95dadf, #49bce5);
  border-radius: 6px;
  width: 146px;
  height: 43px;
}
.bt p {
  color: #49bce5;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 39px;
  background: #fff;
  margin: 2px;
  width: 142px;
  height: 39px;
  border-radius: 6px;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer;
}
.bt p:hover {
	border-radius: 5px;
	background: linear-gradient(to right top, #95dadf, #49bce5);
	color: #fff;
}
.section1__text {
  padding-top: 250px;
  text-align: center;
  color: rgb( 255, 255, 255 );
  font-family: "Roboto", sans-serif;
  cursor: default;
}
.section1__h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.061;
  padding-bottom: 15px;
  // padding-top: 70px;
  transform: translateY(70px);
  opacity: 0;
}
.section1__p {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  // padding-top: 30px;
  transform: translateY(30px);
  opacity: 0;
}
.pointer {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 32px);
}
.anime03 {
  transition: 0.3s;
  transform: translateY(0px);
}
.anime08 {
  transition: 0.8s;
  transform: translateY(0px);
}
.anime13 {
  transition: 1.3s;
  transform: translateY(0px);
}
.no-anime70 {
  transform: translateY(70px);
}
.no-anime50 {
  transform: translateY(50px);
}
// section2 ------------------------------

.header_p-t {
	padding-top: 25px;
}
.section2__text {
  padding-top: 73px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb( 49, 49, 49 );
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
}
.section2__video {
  text-align: center;
  padding-top: 26px;
}
// section3 ------------------------------
.section3__text {
  padding-top: 57px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb( 49, 49, 49 );
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
}
.block {
	width: 200px;
	height: 290px;
}
.block-img {
	margin: 0 auto;
	border: 4px solid #fff;
	border-radius: 50%;
	width: 158px;
	height: 158px;
	background-repeat: no-repeat;
	box-shadow: 0 0 0 2px #9bdce1;
}
.block-img1 {
	background-image: url(../img/i1.jpg);
}
.block-img2 {
	background-image: url(../img/i2.jpg);
}
.block-img3 {
	background-image: url(../img/i3.jpg);
}
.block-img4 {
	background-image: url(../img/i4.jpg);
}
.block-img5 {
	background-image: url(../img/i5.jpg);
}
.block-img6 {
	background-image: url(../img/i6.jpg);
}
.block-p {
	padding-top: 10px;
	text-align: center;
}
.project__section {
	display: flex;
	justify-content: space-between;
}
.effect {
	position: relative;
  padding: 40px 70px 0 70px; 
}
.effect__section2 {
	position: absolute;
	width: 233px;
	height: 553px;
	left: calc(50% - 116.5px);
	top: calc(50% - 276.5px);;
}
.effect__section1,
.effect__section3 {
	width: 370px;
}
.effect__section1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.block1 {
	padding-right: 30px;
}
.block2 {
	padding-right: 170px;
}
.effect__section3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.block5 {
	padding-left: 30px;
}
.block5 {
	padding-left: 170px;
}
