@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto-regular-webfont.eot");
  src: url("../font/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto-regular-webfont.woff") format("woff"), url("../font/roboto-regular-webfont.ttf") format("truetype"), url("../font/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Comfortaa';
  src: url("../font/comfortaa-regular-webfont.eot");
  src: url("../font/comfortaa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/comfortaa-regular-webfont.woff2") format("woff2"), url("../font/comfortaa-regular-webfont.woff") format("woff"), url("../font/comfortaa-regular-webfont.ttf") format("truetype"), url("../font/comfortaa-regular-webfont.svg#comfortaaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../font/raleway-regular-webfont.eot");
  src: url("../font/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/raleway-regular-webfont.woff2") format("woff2"), url("../font/raleway-regular-webfont.woff") format("woff"), url("../font/raleway-regular-webfont.ttf") format("truetype"), url("../font/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #313131; }

.section-height {
  height: 100%;
  overflow: auto; }

.container {
  width: 1170px;
  margin: 0 auto; }

.content {
  width: 100%;
  height: 100%; }

.section-bg {
  height: 100%;
  background: url(../img/bg-line-min.png) repeat-y;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }

#fp-nav ul li a span {
  margin: 0 !important;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background: #d0d0d0; }
  #fp-nav ul li a span:hover {
    margin: 0 !important;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    background: #d0d0d0; }

#fp-nav ul li a.active span {
  margin: 0 !important;
  width: 12px !important;
  height: 12px !important;
  background: #9bdce1;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #9bdce1;
  box-shadow: 0 0 0 2px #9bdce1;
  left: -1px !important; }
  #fp-nav ul li a.active span:hover {
    left: -1px;
    top: 0; }

.section1__bg {
  position: relative;
  width: 100%;
  height: 100%; }

.section1__bg video {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.section1__line {
  height: 100%;
  background: url(../img/s1-line.png) 0 216px repeat-x; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  padding-top: 18px; }

.logo {
  width: 120px; }

.tel-bt {
  width: 370px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.tel {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #313131;
  text-transform: uppercase; }

.tel p:first-child {
  padding-bottom: 15px; }

.bt {
  background: -webkit-gradient(linear, left bottom, right top, from(#95dadf), to(#49bce5));
  background: -webkit-linear-gradient(left bottom, #95dadf, #49bce5);
  background: -o-linear-gradient(left bottom, #95dadf, #49bce5);
  background: linear-gradient(to right top, #95dadf, #49bce5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 146px;
  height: 43px; }

.bt p {
  color: #49bce5;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 39px;
  background: #fff;
  margin: 2px;
  width: 142px;
  height: 39px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer; }

.bt p:hover {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, right top, from(#95dadf), to(#49bce5));
  background: -webkit-linear-gradient(left bottom, #95dadf, #49bce5);
  background: -o-linear-gradient(left bottom, #95dadf, #49bce5);
  background: linear-gradient(to right top, #95dadf, #49bce5);
  color: #fff; }

.section1__text {
  padding-top: 250px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: default; }

.section1__h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.061;
  padding-bottom: 15px;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  opacity: 0; }

.section1__p {
  font-size: 30px;
  line-height: 1;
  font-weight: normal; }

.section1__p1,
.section1__p2 {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0; }

.pointer {
  position: absolute;
  bottom: 20px;
  left: -webkit-calc(50% - 32px);
  left: calc(50% - 32px); }

.anime03 {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.anime08 {
  -webkit-transition: 0.8s ease-out;
  -o-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.anime13 {
  -webkit-transition: 1.3s ease-out;
  -o-transition: 1.3s ease-out;
  transition: 1.3s ease-out;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.no-anime70 {
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px); }

.no-anime50 {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px); }

.header_p-t {
  padding-top: 25px; }

.section__text {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #313131;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center; }

.section2__text {
  padding-top: 73px; }

.section2__video {
  text-align: center;
  padding-top: 26px; }

.block {
  width: 200px;
  height: 260px; }

.block-img {
  margin: 0 auto;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #9bdce1;
  box-shadow: 0 0 0 2px #9bdce1;
  width: 158px;
  height: 158px;
  background-repeat: no-repeat; }

.block-img1 {
  background-image: url(../img/i1.jpg); }

.block-img2 {
  background-image: url(../img/i2.jpg); }

.block-img3 {
  background-image: url(../img/i3.jpg); }

.block-img4 {
  background-image: url(../img/i4.jpg); }

.block-img5 {
  background-image: url(../img/i5.jpg); }

.block-img6 {
  background-image: url(../img/i6.jpg); }

.block__p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #313131;
  font-variant: small-caps;
  line-height: 1.125;
  padding-top: 10px;
  text-align: center;
  font-weight: lighter; }

.project__section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.effect {
  position: relative;
  padding: 40px 70px 0 70px; }

.effect__section2 {
  position: absolute;
  width: 233px;
  height: 553px;
  left: -webkit-calc(50% - 116.5px);
  left: calc(50% - 116.5px);
  top: 120px; }

.effect__section1,
.effect__section3 {
  width: 330px; }

.effect__section1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.block2 {
  padding-right: 137px; }

.effect__section3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.block5 {
  padding-left: 137px; }

.slick-slide-plugin4 {
  padding-top: 25px;
  margin: 0 auto;
  width: 704px;
  height: 760px; }

.fade4__slide__item {
  position: relative; }

.fade4__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.fade4__img {
  width: 704px;
  height: 738px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fade4__img3 {
  background-image: url(../img/bg4-3.png); }

.fade4__text {
  top: 590px;
  position: absolute;
  width: 235px; }
  .fade4__text h2 {
    font-size: 72px;
    font-family: "Roboto";
    color: #d1d1d1;
    text-align: center; }
  .fade4__text p {
    font-size: 16px;
    font-family: "Raleway";
    color: #313131;
    line-height: 1.125;
    text-align: left; }

.table {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #3b3b3b;
  line-height: 1;
  text-align: left;
  font-weight: lighter; }
  .table tr td:nth-child(n) {
    width: 14%; }
  .table tr td:nth-child(1) {
    width: 30%; }

.thead tr {
  text-align: center;
  vertical-align: bottom;
  height: 195px; }
  .thead tr td {
    padding-bottom: 30px; }

.tbody {
  background: #fff;
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 0 7px 4px #efefef;
  box-shadow: 0 0 7px 4px #efefef; }
  .tbody span {
    font-weight: 600; }
  .tbody p {
    display: inline-block;
    width: 22px;
    height: 23px;
    background-image: url(../img/table-1.png); }
  .tbody div {
    display: inline-block;
    width: 30px;
    height: 4px;
    background-color: #b8b8b8; }
  .tbody tr {
    text-align: center;
    height: 60px; }
    .tbody tr td:nth-child(n) {
      border-right: 1px solid #efefef; }
    .tbody tr td:nth-child(6) {
      border-right: none; }
    .tbody tr td:nth-child(1) {
      text-align: left;
      padding-left: 25px; }
  .tbody .tr1 {
    font-weight: 600; }
    .tbody .tr1 td:nth-child(n) {
      border-bottom: 1px solid #efefef; }

.section6__p2,
.section7__p2,
.section8__p2 {
  font-size: 16px;
  line-height: 1.125;
  font-weight: lighter;
  text-transform: none; }

.slick-prev,
.slick-next {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  width: 195px;
  height: 22px;
  top: -webkit-calc(100% + 60px);
  top: calc(100% + 60px);
  cursor: pointer; }

.slick-slider-nav-size {
  height: 52px;
  width: 60px;
  margin: 0 auto; }

.nav__number {
  text-align: center;
  font-size: 36px;
  font-family: "Roboto";
  color: #313131;
  text-transform: uppercase;
  line-height: 52px; }

.slick-slide-plugin6 {
  padding-top: 70px; }

.slick-slide-plugin6 .slick-prev {
  width: 10px;
  height: 16px;
  background-image: url(../img/slide6-prev.png);
  top: 20px;
  left: -30px; }

.slick-slide-plugin6 .slick-next {
  width: 10px;
  height: 16px;
  background-image: url(../img/slide6-next.png);
  left: 80px;
  top: 20px; }

.slider-box {
  width: 170px;
  height: 80px;
  border: 1px solid #93d7dc;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.slider-box__text {
  font-size: 12px;
  font-family: "Raleway";
  color: #313131;
  text-transform: uppercase;
  line-height: 1;
  padding-top: 7px;
  vertical-align: middle;
  text-align: center;
  width: 145px;
  margin: 0 auto;
  border-top: 1px solid #93d7dc; }

.slick-slide-li1,
.slick-slide-li3 {
  width: 426px; }

.slick-slide-li2 {
  padding-top: 143px; }

.slick-slide-plugin6 ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.slick-slide-li2__text {
  font-size: 24px;
  font-family: "Raleway";
  color: #313131;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  padding-bottom: 37px; }

.slick-slide-plugin {
  height: 530px;
  padding-top: 100px; }

.slide__item figure {
  margin: 0; }

.slide__item figure p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slide__item figure img {
  opacity: 0.2; }

.slide__item figcaption {
  text-align: center;
  font-size: 13.835px;
  font-family: "Raleway";
  color: #313131;
  text-transform: uppercase;
  line-height: 4;
  opacity: 0; }

.slick-center figure img {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.slick-center figcaption {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.slick-slide-plugin .slick-prev {
  left: 0;
  background-image: url(../img/bt-prev.png); }

.slick-slide-plugin .slick-next {
  right: 0;
  background-image: url(../img/bt-next.png); }

.slide__item__line {
  height: 45px;
  width: 2px;
  background-color: #95dadf;
  margin: 0 auto; }

.slick-slide-plugin9 {
  width: 100%;
  height: 667px;
  padding-top: 100px;
  position: relative; }

.fade__img {
  height: 667px;
  width: 421px;
  float: left;
  background-image: url(../img/nav9.png);
  background-repeat: no-repeat;
  background-position: right center; }

.fade__text {
  width: 600px;
  padding-top: 245px;
  padding-left: 63px;
  float: left; }

.fade__text p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #313131;
  line-height: 1.125;
  font-weight: lighter;
  padding-bottom: 34px; }

.slick-dots {
  height: 148px;
  width: 19px;
  position: absolute;
  list-style: none;
  top: 259px;
  left: 408px; }
  .slick-dots li {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }
  .slick-dots li:nth-child(2) {
    text-align: right; }
  .slick-dots button {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #d0d0d0;
    color: transparent; }
  .slick-dots .slick-active button {
    width: 19px;
    height: 19px;
    background: #9bdce1;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 2px #9bdce1;
    box-shadow: 0 0 0 2px #9bdce1; }

.section9__text {
  position: absolute;
  left: 470px;
  top: 255px; }

.two-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 65px; }

.two-columns__img {
  padding-left: 200px;
  width: 482px; }

.two-columns__text {
  padding-top: 145px;
  padding-left: 200px;
  width: 570px; }
  .two-columns__text h3 {
    font-size: 18px;
    font-family: "Raleway" , sans-serif;
    color: #313131;
    text-transform: uppercase;
    line-height: 1.667;
    font-weight: normal;
    padding-bottom: 46px; }
  .two-columns__text p {
    display: inline-block;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #313131;
    line-height: 1.246;
    font-weight: 300;
    padding-left: 22px; }
    .two-columns__text p span {
      font-size: 30px;
      font-family: sans-serif;
      font-weight: 100; }
  .two-columns__text li {
    padding-bottom: 42px; }

.two-columns__text__img {
  display: inline-block;
  vertical-align: middle;
  width: 30px; }

.section-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .section-video p {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #313131;
    line-height: 4.3;
    text-align: center; }

.section-video__1 {
  width: 935px; }

.video11 {
  width: 935px;
  height: 576px; }

.section-video__2 {
  width: 167px;
  padding-left: 35px; }

.section-bg12 {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), color-stop(90%, #95dadf));
  background: -webkit-linear-gradient(left, #ffffff 10%, #95dadf 90%);
  background: -o-linear-gradient(left, #ffffff 10%, #95dadf 90%);
  background: linear-gradient(to right, #ffffff 10%, #95dadf 90%); }

.section12 {
  position: relative; }

.footer-bg {
  position: absolute;
  top: -webkit-calc(100% - 105px);
  top: calc(100% - 105px);
  height: 105px;
  width: 100%;
  background: #fff; }

.section12-img-text {
  height: 980px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 37px;
  padding-left: 40px; }

.section12__img {
  width: 660px; }

.section12__text {
  width: 470px; }
  .section12__text h3 {
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 70px; }
  .section12__text p {
    font-size: 16px;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    line-height: 1.125;
    text-align: center;
    font-weight: 300; }
  .section12__text ul {
    padding-bottom: 20px; }
  .section12__text li {
    background-image: url(../img/img12-1.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 43px; }
  .section12__text .section12__text__p {
    padding-left: 54px;
    line-height: 43px;
    text-align: left; }

.price1 {
  font-size: 49.854px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px; }

.price2 {
  font-size: 23.265px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: line-through;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  padding-bottom: 65px; }

.bt12 {
  margin: 34px auto;
  padding-top: 21px;
  padding-bottom: 29px;
  width: 260px;
  background-color: #fff;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #95dadf;
  font-variant: small-caps;
  line-height: 0.8;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .bt12:hover {
    color: #fff;
    background-color: #95dadf; }

.footer-logo-info {
  height: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.footer-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 585px;
  padding-right: 60px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.logo-atlant {
  text-align: center;
  padding-bottom: 10px; }
  .logo-atlant p {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    color: #313131;
    line-height: 1.5; }
  .logo-atlant h2 {
    font-weight: normal;
    font-size: 7.389px;
    font-family: "QuizaPro", sans-serif;
    color: #131313;
    line-height: 1.1; }
  .logo-atlant h3 {
    font-weight: normal;
    font-size: 5px;
    font-family: "QuizaPro", sans-serif;
    color: #bf1c2a;
    text-transform: uppercase;
    line-height: 1.1; }

.footer-logo {
  padding-bottom: 23px; }

.footer-tel {
  font-size: 16px;
  padding-bottom: 23px; }
  .footer-tel p:first-child {
    padding-bottom: 10px; }

.mail {
  font-size: 16px;
  font-family: "Raleway";
  line-height: 1;
  padding-bottom: 23px; }
  .mail a {
    text-decoration: none;
    color: #313131; }
