@font-face {
    font-family: 'Evogria';
    src: url('../fonts/Evogria/Evogria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue/bebasneueregular.woff2') format('woff2'),
         url('../fonts/bebasneue/bebasneueregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }
    @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
   }
   @font-face {
     font-family: 'Gilroy';
     src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
     font-weight: 800;
     font-style: normal;
    }