@font-face {
  font-family: 'Evogria';
  src: url("../fonts/Evogria/Evogria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue/bebasneueregular.woff2") format("woff2"), url("../fonts/bebasneue/bebasneueregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: url(../img/bg.jpg) no-repeat center top/cover;
  overflow-x: hidden;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.products {
  color: #fff;
}

.products-content {
  padding-top: 97px;
  padding-bottom: 130px;
}

.products-title {
  font-family: 'Evogria';
  font-size: 48px;
  text-align: center;
  color: #fff;
  letter-spacing: normal;
  padding-bottom: 81px;
}

.products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  position: relative;
}

.products-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.img {
  position: absolute;
  top: 345px;
  left: 15px;
}

.product {
  font-family: "Bebas Neue";
  padding: 0 7px;
}

.product__inner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(transparent 30%, rgba(0, 0, 0, 0.1));
  padding: 0 20px 41px;
}

.product__name {
  text-align: center;
  height: 43px;
  overflow: hidden;
  margin-bottom: 16px;
}

.product__name-link {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__lable {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.product__img {
  width: 100%;
  height: 303px;
  margin-bottom: 35px;
  text-align: center;
}

.product__img-link {
  display: block;
  width: 100%;
  height: 100%;
}

.product__img-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

.price {
  padding-left: 30px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price__new {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.9;
}

.price__old {
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: uppercase;
  padding-left: 6px;
}

.buy-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  background: none;
  border: none;
  outline: none;
  border-radius: 23px;
  border: 3px solid #fff;
  padding: 10px 19px;
  -webkit-transition: background 0.5s, border 0.5s;
  transition: background 0.5s, border 0.5s;
  cursor: pointer;
}

.button:hover {
  background: #ff8b24;
  border: 3px solid #ff8b24;
  -webkit-transition: background 0.5, border 0.5s;
  transition: background 0.5, border 0.5s;
}

.quantity {
  padding-left: 35px;
  width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.quantity__selected {
  width: 61px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.quantity__number {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  width: 50%;
  padding-right: 7px;
  text-align: right;
}

.quantity__arrow {
  padding-left: 7px;
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.list {
  display: none;
  position: absolute;
  width: 100%;
  height: 187px;
  overflow-y: auto;
  left: 0;
  top: 42px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.list__container {
  padding: 16px 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39px;
  height: 35px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 9px;
  cursor: pointer;
}

.list__item:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.popup {
  width: 470px;
  right: -470px;
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 2000;
  background-color: #fff;
}

.popup-container {
  padding-left: 55px;
  padding-right: 67px;
}

.popup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 81px;
  padding-bottom: 73px;
  background-color: rgba(255, 114, 0, 0.76);
}

.popup-title__text {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 78px;
}

.popup-products {
  margin-bottom: 40px;
}

.popup-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 4px;
  padding-bottom: 26px;
}

.popup-product {
  color: #2f2f2f;
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
}

.popup-product__img {
  width: 72px;
  height: 115px;
  margin-right: 28px;
}

.popup-product__img-link {
  display: block;
  width: 100%;
  height: 100%;
}

.popup-product__img-image {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

.popup-product__brand-link {
  color: #2f2f2f;
}

.popup-product__name-link {
  color: #2f2f2f;
}

.popup-product__name {
  margin-bottom: 11px;
}

.popup-product__qta {
  width: 122px;
  margin-bottom: 4px;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

.popup-product__qta-number {
  padding-left: 6px;
}

.popup-product__qta-arrow {
  position: absolute;
  top: 0;
  left: 90px;
}

.popup-product__price {
  font-weight: 800;
  font-size: 24px;
}

.popup-product__delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #2f2f2f;
  cursor: pointer;
}

.popup-product__delete:hover {
  color: #faa21b;
}

.popup__list {
  background-color: #eee;
  top: 28px;
}

.popup-sum {
  color: #2f2f2f;
  font-family: 'Gilroy';
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.popup-sum__title {
  line-height: 0.9;
}

.popup-sum__price {
  font-size: 48px;
}

.popup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.popup-btn__button {
  border-radius: 5px;
  background: #faa21b;
  padding: 22px 54px;
  border: none;
  color: #fff;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  cursor: pointer;
}

.popup-btn__button:hover {
  background: #323232;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.77);
  z-index: 1000;
  display: none;
}

.style-scrollbar-wk::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.style-scrollbar-wk::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style-scrollbar-wk::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

.mCSB_scrollTools {
  width: 6px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */