*{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ol, ul {
  list-style: none;
}

.wrapper {
  width: 600px;
  margin: 10px auto;
  padding: 10px;
  background-color: #444;
  font-family: arial, sans-serif;
}
li {
  float: left;
  margin-bottom: 2px;
}
li a {
  display: block;
  padding: 5px 10px;
  width: 60px;
  color: #000;
  font-size: 16px
}
.tab-li1 {
  background: linear-gradient(#4d9f30, #8abb3e);
  border: 2px inset #4d9f30;
  margin-right: 8px;
}
.tab-li1:hover {
  background: linear-gradient(#8abb3e, #4d9f30);
}
.tab-li2 {
  background: linear-gradient(#006bb6, #2596da);
  border: 2px inset #006bb6;
  margin-right: 8px;
}
.tab-li2:hover {
  background: linear-gradient(#2596da, #006bb6);
}
.tab-li3 {
  background: linear-gradient(#ca0000, #fb1601);
  border: 2px inset #ca0000;
}
.tab-li3:hover {
  background: linear-gradient(#fb1601, #ca0000);
}
  /*background: linear-gradient(#e07a0e, #ee931e);*/
#tabs::after {
  content: '';
  display: block;
  clear: both;
}
#content div{
  padding: 10px;
  border: 2px inset #777;
  background-color: #fff;
}
#current {
  border: 2px inset #fff;
}
#current a {
  color: #fff;
}
